<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ca.appdevptbo.oww"
        versionCode = "4"
        version   = "0.0.4"
	>

    <name>OBC Part 8</name>
    <apptitle>OBC Part 8</apptitle>
    <description>OBC Part 8</description>
    <author href="http://AppDevPtbo.ca" email="contact@appdevptbo.ca">AppDevPtbo.ca</author>

    <feature name="http://api.phonegap.com/1.0/device" />


	<gap:platform name="android" />
	
    <preference name="phonegap-version" value="2.5.0" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="splash-screen-duration" value="1" />
    <preference name="stay-in-webview"  value="false" />

	<gap:platform name="ios" />
	<gap:platform name="android" />

    <!-- iOS specific.  Render the icon without the swish gloss -->
    <preference name="prerendered-icon" value="true" />

	<!-- android specific.  This is to support tablets, which require a minimum value of 11 -->
	<preference name="android-minSdkVersion" value="11" />

    <gap:splash src="res/logo-400.png" width="400px" height="400px" />
    <gap:splash src="res/logo-400.png" width="400px" height="400px" gap:platform="ios" />

    <icon src="res/logo-400.png"	width="400" height="400"/>
    <icon src="res/logo-036.png"	gap:platform="android"    gap:density="ldpi" />
    <icon src="res/logo-048.png"	gap:platform="android"    gap:density="mdpi" />
    <icon src="res/logo-072.png"	gap:platform="android"    gap:density="hdpi" />
    <icon src="res/logo-096.png"	gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/logo-080.png"	gap:platform="blackberry" />
    <icon src="res/logo-080.png"	gap:platform="blackberry" gap:state="hover"/>
    <icon src="res/logo-057.png"	gap:platform="ios"        width="57" height="57" />
    <icon src="res/logo-072.png"	gap:platform="ios"        width="72" height="72" />
    <icon src="res/logo-114.png"	gap:platform="ios"        width="114" height="114" />
    <icon src="res/logo-144.png"	gap:platform="ios"        width="144" height="144" />
    <icon src="res/logo-064.png"	gap:platform="webos" />
    <icon src="res/logo-048.png"	gap:platform="winphone" />
    <icon src="res/logo-173.png"	gap:platform="winphone"   gap:role="background" />

    <feature name="http://api.phonegap.com/1.0/network"/>

    <access origin="*" />

</widget>

